<!DOCTYPE html>
<head>
  <title>错误 - RAT</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>
  <div class="list" style="margin: 5%; padding: 1%; text-align: center;">
    <div style="font-size: 10em;">
      <a title="带我回去" href="javascript:window.history.back();" style="text-decoration: none;">
	&#x1F643;
      </a>
    </div>
    <h1>{{ msg }}</h1>
  </div>
  <footer>
    <div><a href="/">RAT Ain't Tieba</a></div>
    <div><a href="https://0xacab.org/johnxina/rat/-/blob/no-masters/LICENSE">自豪地以 AGPLv3 释出</a></div>
    <div><a href="https://0xacab.org/johnxina/rat">源代码</a></div>
  </footer>
</body>
