<!DOCTYPE html>
<head>
  <title>{{ info.thread.title }} - {{ info.thread.fname }}吧 - RAT</title>

  <meta charset="utf-8">
  <meta name="referrer" content="never">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/main.css" rel="stylesheet">
  <link href="/static/css/1337box_shadow.css" rel="stylesheet">
</head>

<body>
  <header class="thread-nav">
    <div class="title">{{ info.thread.title }}</div>
    <div class="from"><a href="/f?kw={{ info.forum.fname }}">{{ info.forum.fname }}吧</a></div>
  </header>
  <div class="list">
    <div class="vlist">
      <div><a {% if not ao %} class="current-sel" {% endif %} href="/p/{{ info.thread.tid }}?ao=0">全部回复</a></div>
      <div><a {% if ao %} class="current-sel" {% endif %} href="/p/{{ info.thread.tid }}?ao=1">仅看楼主</a></div>
    </div>
  </div>
  <div class="list">
    {% for p in info %}
    <div class="post" id="{{ p.floor }}">
      <div>
	<img class="avatar" src="/proxy/avatar/{{ p.user.portrait }}">
	{% if p.user.is_bawu %}
	<div style="background-color: var(--important-color); !important" class="tier">吧务</div>
	{% endif %}
	<div class="tier">level {{ p.user.level }}</div>
      </div>
      <div>
	<div class="userinfo">
	  <a href="/home/main?id={{ p.user.user_id }}">{{ p.user.show_name }}</a>
	  {% if p.is_thread_author %}
	  <span class="tag tag-blue">楼主</span>
	  {% endif %}
	</div>
	<div class="content">
	  {{ p.contents|translate|safe }}
	</div>
	<small class="date">{{ p.create_time|date }}</small>
	<small class="permalink"><a href="#{{ p.floor }}">{{ p.floor }}</a></small>
	{% if p.comments %}
	<div class="replies">
	  {% for comment in p.comments %}
	  <div class="post">
	    <img class="avatar" src="/proxy/avatar/{{ comment.user.portrait }}">
	    <div>
	      <div class="userinfo">
		<a href="/home/main?id={{ comment.user.user_id }}">{{ comment.user.show_name }}</a>
	      </div>
	      <div class="content">
		{{ comment.contents|translate(comment.reply_to_id)|safe }}
	      </div>
	      <small class="date">{{ comment.create_time|date }}</small>
	    </div>
	  </div>
	  {% endfor %}
	</div>
	{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="paginator">
    {% if info.page.current_page > 1 %}
    <a href="/p/{{ info.thread.tid }}?ao={{ao}}">首页</a>
    {% endif %}

    {% for i in range(5) %}
    {% set np = info.page.current_page - 5 + i %}
    {% if np > 0 %}
    <a href="/p/{{ info.thread.tid }}?pn={{ np }}&ao={{ao}}">{{ np }}</a>
    {% endif %}
    {% endfor %}

    <a>{{ info.page.current_page }}</a>
    
    {% for i in range(5) %}
    {% set np = info.page.current_page + 1 + i %}
    {% if np <= info.page.total_page %}
    <a href="/p/{{ info.thread.tid }}?pn={{ np }}&ao={{ao}}">{{ np }}</a>
    {% endif %}
    {% endfor %}

    {% if info.page.current_page < info.page.total_page %}
    <a href="/p/{{ info.thread.tid }}?pn={{ info.page.total_page }}&ao={{ao}}">尾页</a>
    {% endif %}
  </div>
  
  <footer>
    <div><a href="/">RAT Ain't Tieba</a></div>
    <div><a href="https://0xacab.org/johnxina/rat/-/blob/no-masters/LICENSE">自豪地以 AGPLv3 释出</a></div>
    <div><a href="https://0xacab.org/johnxina/rat">源代码</a></div>
  </footer>
</body>
